# Faz com que todas as requests passem pelo sistema de rotas do index

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /ShipMaintainer/index.php?path=$1 [NC,L,QSA]

# Variáveis de ambiente

SetEnv APP_URL /ShipMaintainer/